           
h1 {color: #313131}
h2 {border-bottom: 1px solid #ccc; width: 100%; color: #414141; font-size: 16px; margin-top: 40px;}

.example,.code {border: 1px solid #ccc; background-color: #F9F9F9; padding: 15px; margin: 15px;}
.example p, .code p {margin-top: 0;}

body {
    margin: 0;
    padding: 30px;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

a {
    color: #0134c5;
    background-color: transparent;
    text-decoration: none;
    font-weight: normal;
}
a:visited {
    color: #0134c5;
    background-color: transparent;
    text-decoration: none;
}

.up {border: 1px solid #ccc; background-color: #F9F9F9; padding: 5px; margin: 15px 0;}
.up a {font-size: 10px;}