<div class="directory_listing listing">
	{{#data}}
	{{#title}}<h2>{{title}}</h2>{{/title}}
	{{#profiles}}
	<div class="row-fluid">
		{{#.}}
		<div class="directory_profile span{{column_width}}">
			<div class="row-fluid">
				<div class="span6">
					{{#Photo}}
					<div class="faculty_photo">
						<a href='?ID={{ID}}'><img src="{{Photo}}" alt="{{FirstName}} {{LastName}}"/></a>
					</div>
					{{/Photo}}
				</div>
				<div class="span6">
					<h3><a href='?ID={{ID}}'>{{FirstName}} {{LastName}}</a></h3>
					{{#Title}}<p class='title'>{{Title}}</p>{{/Title}}
				</div>
			</div>
		</div>
		{{/.}}
	</div>
	{{/profiles}}
	{{/data}}
</div>